<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3>Lottery Contract</h3>
          <p>This contract is managed by {{ manager }}.
            There is currently {{ players.length }} people entered, competing to win {{ balance }} ether.</p>
          <hr />
          <br/>
          <h5>Want to try your luck?</h5>
          <form [formGroup]="lotteryForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label>Amount of ether to enter (minimun 0.011)</label>
              <input
                type="text"
                class="form-control"
                formControlName="etherAmount"/>
              <div
                class="form-validation"
                *ngIf="
                  lotteryForm.controls['etherAmount'].touched &&
                  lotteryForm.controls['etherAmount'].errors">
                There are validation errors.
              </div>
            </div>
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!lotteryForm.valid || enterText !== 'Enter'">
                {{ enterText }}
              </button>
            </div>
          </form>
          <hr />
          <br/>
          <h5>Ready to pick a winner?</h5>
          <br/>
          <div class="mb-3">
            <button
              type="button"
              class="btn btn-primary"
              (click)="pickWinner()"
              [disabled]="pickWinnerText !== 'Pick a winner'">
              {{ pickWinnerText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
